<%- include('../includes/head.ejs') %>

</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1>
      Login
    </h1>
    <div>
      <%- include('../includes/msgs.ejs') %> 
    </div>

      <p>You can reset your password through email.
         Enter your email and we will send you a one time link to reset your password.</p>
        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" id="email" name="email"
          value="<% if(locals.errValues && locals.errValues.email){ %><%= locals.errValues.email %><% } %>">
        
      <button type="submit" class="btn" id="reset-btn" >Reset Password</button>
    </div>
    </form>
  </main>

  <script>
    document.getElementById("resetBtn")
    .addEventListener("click",
                      () => {
                        let tmpBody = {
                          email: document.getElementById("email").value
                        };

                        fetch('/create-password-reset', {
                              method: 'POST',
                              headers: {
                                'Content-Type': 'application/json',
                                'csrf-token': '<%=csrfToken %>'
                              },
                              body: JSON.stringify(tmpBody)
                            })
                        .then(res => {
                          return res.json();
                        })
                        .then (data => {
                          if(data.errMsgs)
                          {
                            document.getElementById("msgs").innerHTML = data.errMsgs[0];
                            document.getElementById("email").classList.add("invalid");
                          }
                          else
                          {
                            
                            document.getElementById("msgs").innerHTML = data.msgs[0];
                            document.getElementById("resetBtn").disabled = true;
                            document.getElementById("resetBtn").classList.add("hidden");

                          };
                        })
                        .catch(err => {
                          console.log(err);
                        })
                      });//END FUNC/ADD EVENT LISTENER FOR RESET BTN
    
    //create event listener to reset email when changed
    document.getElementById("email")
    .addEventListener("input",
                       () => {
                         document.getElementById("email").classList.remove("invalid");
                       });

  </script>

  <%- include('../includes/end.ejs') %>