<%- include('../includes/head.ejs') %>

</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1>
      Login
    </h1>
    <div>
      <%- include('../includes/msgs.ejs') %> 
    </div>
    <form action="/create-password-reset" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

      <p>You can reset your password through email.
         Enter your email and we will send you a one time link to reset your password.</p>

      <label for="email">Email</label>
      <input type="email" id="email" name="email"
      value="<% if(locals.errValues && locals.errValues.email){ %><%= locals.errValues.email %><% } %>">

      <input type="submit" value="Reset Password">
      
    </form>
  </main>

  <%- include('../includes/end.ejs') %>