<%- include('../includes/head.ejs') %>

</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1>
      Reset Password for you Entertainment Library
    </h1>
    <div>
      <%- include('../includes/msgs.ejs') %> 
    </div>
    
    <ul id="msgs"></ul>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <input type="hidden" id="token" name="token" value="<%= token %>" >

    <label for="email">Email</label>
    <input type="email" id="email" name="email"
    value="<% if(locals.errValues && locals.errValues.email){ %><%= locals.errValues.email %><% } %>">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <p>Password must be 9 characters or longer.</p>
    
    <label for="cPassword">Confirm Password</label>
    <input type="password" id="cPassword" name="cPassword">

    <input id="setPwdBtn" type="button" value="Set Password">
      
  </main>

  <script>
    let emailField = document.getElementById("email");
    let pwdField = document.getElementById("password");
    let cPwdField = document.getElementById("cPassword");

    document.getElementById("setPwdBtn")
    .addEventListener("click", () => {
      //check password
      let pwd = pwdField.value;
      let cPwd = cPwdField.value;
      let email = emailField.value;


      let tmpBody = {
        email: email,
        password: pwd,
        cPassword: cPwd,
        token: document.getElementById("token").value
      };

      //send fetch request
      fetch("/reset-password", {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'csrf-token': '<%= csrfToken %>'
        },
        body: JSON.stringify(tmpBody)
      })
      .then(res => {
        return res.json();
      })
      .then(data => {
        //check for errors
        console.log(data);
        if(data.errMsgs)
        {
          let msgs = document.getElementById("msgs");
          msgs.innerHTML = "";
          for(err of data.errMsgs)
          {
            msgs.innerHTML += "<li>" + err + "</li>"
          }

          for(id of data.errIds)
          {
            document.getElementById(id).classList.add("invalid");
          }
        }
        else
        {
          //correct password, set msg
          msgs.innerHTML = "<li>" + data.msgs[0] + "</li>";
          document.getElementById("setPwdBtn").disabled = true;
          document.getElementById("setPwdBtn").classList.add("hidden");
          
        }
      })
      .catch(err => {
        console.log(err);
      })
    });//END ADD LISTENER SETPWDBTN

    //resets to fields when edited
    emailField.addEventListener("input", () => {
      emailField.classList.remove("invalid");
    });
    pwdField.addEventListener("input", () => {
      pwdField.classList.remove("invalid");
    });
    cPwdField.addEventListener("input", () => {
      cPwdField.classList.remove("invalid");
    })
  </script>

  <%- include('../includes/end.ejs') %>