<%- include('../includes/head.ejs') %>
<script src="/js/validation.js"></script>

</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1>
      Reset Password for you Entertainment Library
    </h1>
    <div>
      <%- include('../includes/msgs.ejs') %> 
    </div>
    
    <ul id="msgs"></ul>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <input type="hidden" id="token" name="token" value="<%= token %>" >

    <label for="email">Email</label>
    <input type="email" id="email" name="email"
    value="<% if(locals.errValues && locals.errValues.email){ %><%= locals.errValues.email %><% } %>">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <p>Password must be 9 characters or longer.</p>
    
    <label for="cPassword">Confirm Password</label>
    <input type="password" id="cPassword" name="cPassword">

    <input id="setPwdBtn" type="button" value="Set Password">
      
  </main>

  <script>
    let emailField = document.getElementById("email");
    let pwdField = document.getElementById("password");
    let cPwdField = document.getElementById("cPassword");
    let msgs = document.getElementById("msgs");

    function checkPwd()
    {
      let pwd = pwdField.value;

      //reset messages display
      msgs.innerHTML = "";

      let res = validatePassword(pwd);
      
      if(!res.isValid)
      {
        //display error messages:
        for(err of res.errMsgs)
        {
          msgs.innerHTML += "<li>" + err + "</li>"
        }
        //show invalid fields
        if(!res.lencheck || !res.isSecureCheck)
        {
          pwdField.classList.add("invalid");
        }
      }

      return res;
    }//END FUNC CHECK PWD

    
    function checkCPwd()
    {
      let pwd = pwdField.value;
      let cPwd = cPwdField.value;

      //reset messages display
      msgs.innerHTML = "";

      let res = checkPwd();

      //check confirm password
      if(pwd !== cPwd)
      {
        res.errMsgs = ["The Confirm Password does not match the Password."];
        res.cPwd = false;
        res.isValid = false;
      }
      else
      {
        res.errMsgs = [];
      }
      
      if(!res.isValid)
      {
        //display error messages:
        for(err of res.errMsgs)
        {
          msgs.innerHTML += "<li>" + err + "</li>"
        }
        if(!res.cPwd)
        {
          cPwdField.classList.add("invalid");
        }
      }
      return res;
    }



    document.getElementById("setPwdBtn")
    .addEventListener("click", () => {
      //check password
      let pwd = pwdField.value;
      let cPwd = cPwdField.value;
      let email = emailField.value;

      let res = checkCPwd();
      if(!res.isValid)
      {
        return false;//abort if not valid here
      }


      let tmpBody = {
        email: email,
        password: pwd,
        cPassword: cPwd,
        token: document.getElementById("token").value
      };

      //send fetch request
      fetch("/reset-password", {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'csrf-token': '<%= csrfToken %>'
        },
        body: JSON.stringify(tmpBody)
      })
      .then(res => {
        return res.json();
      })
      .then(data => {
        //check for errors
        console.log(data);
        if(data.errMsgs)
        {
          msgs.innerHTML = "";
          for(err of data.errMsgs)
          {
            msgs.innerHTML += "<li>" + err + "</li>"
          }

          for(id of data.errIds)
          {
            document.getElementById(id).classList.add("invalid");
          }
        }
        else
        {
          //correct password, set msg
          msgs.innerHTML = "<li>" + data.msgs[0] + "</li>";
          document.getElementById("setPwdBtn").disabled = true;
          document.getElementById("setPwdBtn").classList.add("hidden");
          pwdField.value = "";
          cPwdField.value = "";
          
        }
      })
      .catch(err => {
        console.log(err);
      })
    });//END ADD LISTENER SETPWDBTN

    //resets to fields when edited
    emailField.addEventListener("input", () => {
      emailField.classList.remove("invalid");
    });
    pwdField.addEventListener("input", () => {
      pwdField.classList.remove("invalid");
      checkPwd();
    });
    cPwdField.addEventListener("input", () => {
      cPwdField.classList.remove("invalid");
      checkCPwd();
    });
  </script>

  <%- include('../includes/end.ejs') %>