
<%- include('../includes/head.ejs'); %>
</head>
<body>
<%- include('../includes/nav.ejs'); %>
<main>
    <% if(errorMessage){ %>
        <div class="user-message"><%= errorMessage %></div>
    <% } %>
        
    <form class="item-form" action=<% if(editing){ %> '/edit-item' <% }else{ %>"/add-item"<% } %> method="POST" enctype="multipart/form-data">
        <fieldset id="item-fieldset">
            <legend><% if(editing){ %> Edit Item <% } else { %>Add an Item<% } %></legend>
            <div class="form-control">
                <p>What would you like to <% if(!editing){ %> add<% } else { %> update<% } %>? </p>
                <div id="radio-div" onclick=displayFields()>
                    <input type="radio" name="item-type" id="type-book" value="book">
                    <label for="book">Book</label>
                    <input type="radio" name="item-type" id="type-movie" value="movie">
                    <label for="movie">Movie</label>
                    <input type="radio" name="item-type" id="type-game" value="game">
                    <label for="game">Game</label>
                    
                </div>
            </div>

            <div class="form-control book movie game hidden" id="title">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="My Title" value="<% if(editing || hasError){ %><%= item.title %><% } %>" 
                class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : ''  %>" >
            </div>
            
            <div class="form-control book hidden">
                <label for="author">Author</label>
                <input type="text" name="author" id="author" placeholder="Name of Author" value="<% if(editing || hasError){ %><%= item.author %><% } %>" class="<%= validationErrors.find(e => e.param === 'author') ? 'invalid' : ''  %>">
            </div>
            <div class="form-control book movie hidden">
                <label for="genre">Genre</label>
                <input type="text" name="genre" id="genre" placeholder="Genre" value="<% if(editing || hasError){ %><%= item.genre %><% } %>" class="<%= validationErrors.find(e => e.param === 'author') ? 'invalid' : ''  %>">
            </div>
            <div class="form-control movie hidden">
                <label for="rating">Rating</label>
                <input type="text" name="rating" id="rating" placeholder="Rating" value="<% if(editing || hasError){ %><%= item.rating %><% } %>" class="<%= validationErrors.find(e => e.param === 'rating') ? 'invalid' : ''  %>">
            </div>
            <div class="form-control game hidden">
                <label for="category">Category</label>
                <input type="text" name="category" id="category" placeholder="Category" value="<% if(editing || hasError){ %><%= item.category %><% } %>" class="<%= validationErrors.find(e => e.param === 'category') ? 'invalid' : ''  %>">
            </div>
            <div class="form-control book movie game hidden">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-control book movie game hidden">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5" placeholder="Describe the awesome-osity" class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : ''  %>"><% if(editing || hasError){ %><%= item.description %><% } %></textarea>
            </div>
            <% if(editing) { %>
                <input type="hidden" value="<%= item._id %>" name="itemId">
            <% } %>
            <div class="add-buttons">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <button class="btn" type="submit">
                    <% if(editing) { %> Update <% } else { %> Add Item <% } %>
                </button>
                <% if(!editing) { %>
                <input class="btn" type="submit" formaction='/add-another' value="Add Another">
                <% } %>
            </div> 
        </fieldset>
    </form>
    
</main>
<%- include('../includes/end.ejs'); %>
 
    