<!-- <link rel="stylesheet" href='../../public/css/nav.css'> -->
<header>
  <div class="siteName">
<a href="/"><h1><div class="neonone">Hermit</div><br><div class="neontwo">Habitat</div></h1></a>
</div>

  <nav class="main-header-nav">
    <input type="checkbox" id="mobile-nav-toggle">
    <div class="burger-container">
      <div class="burger-menu"></div>
      <div class="burger-menu"></div>
      <div class="burger-menu"></div>
    </div>
    
    <ul class="nav-item-list">
      <li class="main-nav-item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="main-nav-item">
        <a class="<%= path === '/Movies' ? 'active' : '' %> drpbtn" href="/Movies">Movies</a>
      </li>
      <li class="main-nav-item">
        <a class="<%= path === '/Books' ? 'active' : '' %>" href="/Books">Books</a>
      </li>
      <li class="main-nav-item">
        <a class="<%= path === '/Games' ? 'active' : '' %>" href="/Games">Games</a>
      </li>
      <li class="main-nav-item">
        <a href="/randomizer">Randomizer</a>
      </li>
      <!-- <div class="authSection">
        <ul class="nav-item-list"></ul> -->
        <% if (!isAuthenticated) { %>
          <li class="login-nav-item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
          </li>
          <li class="login-nav-item">
            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
          </li>
        <% } else { %>
          <div class="drop">
          <li class="main-nav-item">
            <a class="<%= path === '/user-profile' ? 'active' : '' %>" href="/user-profile">My Profile</a>
          </li>
          <li class="main-nav-item">
            <a class="<%= path === '/lib' ? 'active' : '' %>" href="/my-library">My Library</a>
          </li>
          <li class="main-nav-item">
            <a class="<%= path === '/add-item' ? 'active' : '' %>" href="/add-item">Add Item</a>
          </li>
          <li class="main-nav-item">
            <form action="/logout" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="nav-button">Logout</button>
            </form>
          </li>
        </div>
          <% } %>
    </ul>
    </div>
    </ul>
  </nav>
</header>
<hr>