<!-- <link rel="stylesheet" href='../../public/css/nav.css'> -->

<nav class="main-header-nav">
  <ul class="nav-item-list">
    <li class="main-nav-item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <li class="main-nav-item">
      <div class="dropdown">
      <a class="<%= path === '/Movies' ? 'active' : '' %> drpbtn" href="/Movies">Movies</a>
      <div class="drop-content">
        <a href="/randomizer">Movie Randomizer</a>
      </div>
    </div>
    </li>
    <li class="main-nav-item">
      <a class="<%= path === '/Books' ? 'active' : '' %>" href="/Books">Books</a>
    </li>
    <li class="main-nav-item">
      <a class="<%= path === '/Games' ? 'active' : '' %>" href="/Games">Games</a>
    </li>
    <div class="authSection">
      <ul class="nav-item-list"></ul>
      <% if (!isAuthenticated) { %>
        <li class="login-nav-item">
          <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        <li class="login-nav-item">
          <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
        </li>
        <% } else { %>
          <li class="main-nav-item">
            <form action="/logout" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit">Logout</button>
            </form>
          </li>
          <li class="main-nav-item">
            <a class="<%= path === '/lib' ? 'active' : '' %>" href="/Library">My Library</a>
          </li>
          <% } %>
  </ul>
  </div>
  </ul>
</nav>