<%- include('../includes/head.ejs') %>
<body>
      <%- include('../includes/nav.ejs') %>
   <main>
      <h1>Hermit Habitat's Books</h1>

      <% if (content) { %>
      <div class="content-cards">
      <% for (let item of content) { %>
            <div class="content-card">
               <div class="left">
               <img class="content-card-image" src="images/<%= item.imageUrl %>" alt="<%= item.title %>">
               </div>
               <div class="right">
               <h2><%= item.title %></h2>
               <h3><%= item.author %></h3>
               <h3><%= item.genre %></h3> 
               <h3 class="description"><%= item.description %></h3>
               </div>
            </div>
         <% } %> 
      </div>
      <% } else { %>
         <img class="hermit-nothing" src="images/hermit.png" alt="Hermit Crab">
         <h2>Whoops! Looks like we have nothing here!</h2>
      <% } %> 
   </main>
   <%- include('../includes/end.ejs') %>
</body>
</html>