<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= pageTitle %></title>

   <link rel="stylesheet" href="css/movies.css">
</head>
<body>
   <header>
      <!-- Header and Nav can go here... -->
      <!-- Dummy Header and Nav... -->
      <div class="dummyHeaderSection"></div>
   </header>
   <main class="*-main">
      <h1 class="main-header">Hermit Habitat's Movies</h1>

      <div class="cards">
      <% for (let movie of movies) { %>
            <div class="card">
               <div class="left">
               <img class="card-image" src="<%= movie.imageUrl %>" alt="<%= movie.title %>">
               </div>

               <div class="right">
               <h2><%= movie.title %></h2>
               <h3>Rating: <%= movie.rating %></h3>
               <h4>Genre: <%= movie.genre %></h4>
               </div>
            </div>
         <% } %> 
      </div>
   </main>
</body>
</html>